.table{
    width: 100%;
}

.dataTables_wrapper {
    font-size: var(--fs-small);

    .issuesTable{
        width: 100%;

        #issuesTable{
            font-family: Verdana, Geneva, Tahoma, sans-serif
        }
    }
}

.response-message {
    margin-top: 2rem;
    padding: 1rem;
    border-radius: 5px;
    font-size: var(--fs-xxlarge);
    color: var(--color-white);
    background-color: var(--color-success);
    text-align: center;

    span {
        font-size: var(--fs-large);
    }
}

.issueHeader {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1rem;

    .issueMenu {
        margin-left: 10px;

        .issue-btn {
            margin-left: 20px;
        }
        button {
            margin-left: 20px;
        }
    }
}

.issueForm{
    width: 100%;display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
}

// single issue view
.singleIssueView{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    
    .issueHeader{
        margin-top: 20px;
        justify-content: center;   
    }
}

.issueTrackerMessage{
    font-size: var(--fs-normal);
    color: var(--teritary-color);
}
// css for assign issue to user
.assignUserContent .issueDetailsItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 30px;
    margin-bottom: 1rem;
    border-bottom: 1px solid var(--secondary-color);
    padding-bottom: 10px;
}
.assignUserContent .issueDetailsItem .issueDetailsLabel{
    font-size: var(--fs-normal);
    font-weight: 520;
    margin-right: 2px;
}
.assignUser .issueDetailsForm span{
    font-size: var(--fs-normal);
}
.assignUser .css-1gywuxd-MuiInputBase-root-MuiOutlinedInput-root{
    line-height: normal;
}
.assignUser .MuiAutocomplete-hasPopupIcon.MuiAutocomplete-hasClearIcon.css-19i3fn2-MuiAutocomplete-root .MuiOutlinedInput-root {
    padding-right: 20px;
}
.assignUser .MuiFormControl-root {
    background-color: aliceblue;
}
.assignUser .MuiAutocomplete-endAdornment {
    margin: 2px;
}

// css for issue tracker path:issueTracter.jsx
#issuesTrackerTable svg{
    margin: 0;
}

.bugzone-content .viewBug .public-bugs{
    margin-top: 20px;
    margin-bottom: 1rem;
    padding: 0 30px;
    border-bottom: 1px solid var(--cambridge-blue);
    padding-bottom: 10px;

    .bug-header-row{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        .bug-title{
            font-size: var(--fs-normal);
            font-weight: 520;
        }

        .bug-creator{
            font-size: var(--fs-normal);
            color: var(--primary-color2);
            text-transform: capitalize;
        }
    }

    .bug-description{
        font-size: var(--fs-normal);
        color: var(--fade-dark-color);
    }

    .bug-footer{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 10px;
        
        .bug-tags{
            display: flex;
            align-items: center;
            .bug-feature, .bug-votes{
                font-size: var(--fs-small);
                color: var(--tag-color);
                span{
                    margin-right: 5px;
                    background-color: var(--tag-background);
                    padding: 5px 10px;
                    width: max-content;
                    border-radius: 5px;
                }
            }
            .bug-votes span{
                background-color: var(--success-color2);
            }
            .bug-votes span:last-child{
                background-color: var(--danger-color);
            }
        }
    }
}

.singleBugzone {
    .sbugzone-header {
        font-size: var(--fs-normal);
        font-weight: 520;
        margin-bottom: 1rem;
    }

    .sbugzone-description {
        font-size: var(--fs-normal);
        color: var(--fade-dark-color);
    }

    .sbugzone-footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 10px;
        
        .sbugzone-tags {
            display: flex;
            align-items: center;
        }
    }
}
.SingleBugzoneForm{
    width: 100%;display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;

    input{
        padding: 3px 10px;
        width: 50%;
    }
    .singleCommonEdit .commonEditDetails 
    .commonEditDetailsForm select{
        width: 50%;
    }
    .commonEditDetailsForm .singleBugzoneTextarea{
        height: 140px;

        textarea{
            width: 50%;
            height: 100%;
            padding: 10px;
            border: 1px solid var(--secondary-color);
            border-radius: 5px;
        }
    }

    .commonEditDetailsItem .save{
        background-color: var(--success-color2);
    }
    .commonEditDetailsItem .delete{
        background-color: var(--danger-color);
    }
}

.dark-theme .bugzone-content .viewBug .public-bugs .bug-footer .bug-tags .bug-votes{
    color: var(--fade-light-color);
}
